# env variables injected in containers
**/*.secrets
*.env
custom.mk

# droneDB postgress data
droneDB/data
droneDB/init
 
# minio data
minio/data/

# Java / Maven
droneManager/target/
*.log

#Editor
*.idea
*.vscode
